@model Pooshineh.Models.Table_Products

@{
    ViewBag.Title = "CreateProduct";
    Pooshineh.Models.ClothingStoreEntities1 db = new Pooshineh.Models.ClothingStoreEntities1();
    var categories = db.Table_Categories.ToList();
}
<style>
    .card {
        margin-top: 150px;
        margin-bottom: 200px;
        width: 320px;
        border-radius: 10px;
    }

    .color-text {
        color: grey;
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }

    .color-circle {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transform: rotate(-45deg);
    }

    .radio-group {
        position: relative;
        margin-bottom: 5px;
    }

    .radio {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #B2EBF2;
        box-sizing: border-box;
        border: 3px solid #fff;
        box-shadow: 0 0 2px 3px #E8F5E9;
        cursor: pointer;
        margin: 8px 10px 0px 0px;
        transition: 0.3s
    }

        .radio:hover {
            box-shadow: 0 0 2px 3px #BDBDBD;
            transition: 0.3s
        }

        .radio:active {
            box-shadow: 0 0 2px 3px #9E9E9E;
            transition: 0.3s
        }
</style>

<h2>CreateProduct</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Table_Products</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <label for="CategoryID" class="text-info">دسته بندی</label>
            <select class="form-control" name="CategoryID" id="CategoryID">
                <option hidden>انتخاب دسته</option>
                @foreach (var category in categories)
                {
                    <option value="@category.CategoryID">@category.CategoryName</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductImagePath, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductImagePath, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductQuantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductQuantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductBrand, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductBrand, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductBrand, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="card p-4 d-flex">
        <h5 class="mb-3">Color : <span class="color-text">Red/Dark Blue/White</span></h5>

        <div class="radio-group">
            <div class="radio" data-value="red-circle">
                <img class="color-circle" src="https://i.imgur.com/zrUYa1u.png" width="200" height="60">
            </div>
            <div class="radio" data-value="blue-circle">
                <img class="color-circle" src="https://i.imgur.com/j486evo.png" width="200" height="60">
            </div>
            <div class="radio" data-value="white-circle">
                <img class="color-circle" src="https://i.imgur.com/8p5y8cv.png" width="200" height="60">
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
