﻿@model Pooshineh.Models.Table_Products

@{
    ViewBag.Title = "Details";
    Pooshineh.Models.ClothingStoreEntities1 db = new Pooshineh.Models.ClothingStoreEntities1();
    var user = db.Table_User.Where(u => u.PhoneNumber == User.Identity.Name).SingleOrDefault();
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }

}
<div class="text-center bg-info py-5 fw-bolder rounded-1 text-white my-5 "><h3>مشخصات محصول</h3></div>

<!-- content -->
<div class="container py-5">
    <div class="row gx-5">
        <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 d-flex justify-content-center">
                <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp">
                    <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="~/Images/Products/@Model.ProductImagePath" />
                </a>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="~/Images/t1.jpg">
                    <img width="60" height="60" class="rounded-2" src="../Images/t1.jpg" />
                </a>
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="~/Images/t2.jpg">
                    <img width="60" height="60" class="rounded-2" src="../Images/t2.jpg" />
                </a>
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="~/Images/t3.jpg">
                    <img width="60" height="60" class="rounded-2" src="../Images/t2.jpg" />
                </a>
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="~/Images/967678.jpg">
                    <img width="60" height="60" class="rounded-2" src="../Images/t3.jpg" />
                </a>
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image" href="~/Images/galaxyVector.svg">
                    <img width="60" height="60" class="rounded-2" src="../Images/t2.jpg" />
                </a>
            </div>
            <!-- thumbs-wrap.// -->
            <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
            <div class="ps-lg-3">
                <h4 class="title text-dark mt-2">
                    @Html.DisplayFor(model => model.ProductName)
                </h4>
                <div class="d-flex flex-row my-3">
                    <div class="text-warning mb-1 me-2">
                        @*------------half-star------------*@
                        <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M7.518.5a.5.5 0 0 0-.503-.5a1.04 1.04 0 0 0-.941.61L4.486 3.966a.48.48 0 0 0-.007.016a.02.02 0 0 1-.016.012l-.006.001l-3.54.51l-.009.001a1.08 1.08 0 0 0-.57 1.851L2.89 8.98l.002.002a.08.08 0 0 1 .022.068l-.638 3.693v.002a1.06 1.06 0 0 0 1.53 1.125l3.199-1.739a.09.09 0 0 1 .04-.01a.5.5 0 0 0 .483-.5z" clip-rule="evenodd" /></svg>
                        @*------------half-star------------*@

                        <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M7 .277a1.04 1.04 0 0 0-.94.596L4.472 4.078a.495.495 0 0 0-.012.023a.486.486 0 0 0-.023.004L.94 4.623a1.04 1.04 0 0 0-.617 1.788l2.56 2.469l.006.005a.03.03 0 0 1 .009.027v.004l-.61 3.568v.001a1.05 1.05 0 0 0 1.526 1.107l3.15-1.665a.09.09 0 0 1 .072 0l3.15 1.664a1.049 1.049 0 0 0 1.527-1.106l-.61-3.57v-.003c-.002-.004-.001-.01 0-.014a.03.03 0 0 1 .008-.013l.006-.005l2.559-2.47a1.04 1.04 0 0 0-.617-1.787l-3.496-.518a.486.486 0 0 0-.023-.004a.495.495 0 0 0-.012-.023L7.94.873A1.04 1.04 0 0 0 7 .277" clip-rule="evenodd" /></svg>
                        <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M7 .277a1.04 1.04 0 0 0-.94.596L4.472 4.078a.495.495 0 0 0-.012.023a.486.486 0 0 0-.023.004L.94 4.623a1.04 1.04 0 0 0-.617 1.788l2.56 2.469l.006.005a.03.03 0 0 1 .009.027v.004l-.61 3.568v.001a1.05 1.05 0 0 0 1.526 1.107l3.15-1.665a.09.09 0 0 1 .072 0l3.15 1.664a1.049 1.049 0 0 0 1.527-1.106l-.61-3.57v-.003c-.002-.004-.001-.01 0-.014a.03.03 0 0 1 .008-.013l.006-.005l2.559-2.47a1.04 1.04 0 0 0-.617-1.787l-3.496-.518a.486.486 0 0 0-.023-.004a.495.495 0 0 0-.012-.023L7.94.873A1.04 1.04 0 0 0 7 .277" clip-rule="evenodd" /></svg>
                        <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M7 .277a1.04 1.04 0 0 0-.94.596L4.472 4.078a.495.495 0 0 0-.012.023a.486.486 0 0 0-.023.004L.94 4.623a1.04 1.04 0 0 0-.617 1.788l2.56 2.469l.006.005a.03.03 0 0 1 .009.027v.004l-.61 3.568v.001a1.05 1.05 0 0 0 1.526 1.107l3.15-1.665a.09.09 0 0 1 .072 0l3.15 1.664a1.049 1.049 0 0 0 1.527-1.106l-.61-3.57v-.003c-.002-.004-.001-.01 0-.014a.03.03 0 0 1 .008-.013l.006-.005l2.559-2.47a1.04 1.04 0 0 0-.617-1.787l-3.496-.518a.486.486 0 0 0-.023-.004a.495.495 0 0 0-.012-.023L7.94.873A1.04 1.04 0 0 0 7 .277" clip-rule="evenodd" /></svg>
                        <svg class="text-warning" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M7 .277a1.04 1.04 0 0 0-.94.596L4.472 4.078a.495.495 0 0 0-.012.023a.486.486 0 0 0-.023.004L.94 4.623a1.04 1.04 0 0 0-.617 1.788l2.56 2.469l.006.005a.03.03 0 0 1 .009.027v.004l-.61 3.568v.001a1.05 1.05 0 0 0 1.526 1.107l3.15-1.665a.09.09 0 0 1 .072 0l3.15 1.664a1.049 1.049 0 0 0 1.527-1.106l-.61-3.57v-.003c-.002-.004-.001-.01 0-.014a.03.03 0 0 1 .008-.013l.006-.005l2.559-2.47a1.04 1.04 0 0 0-.617-1.787l-3.496-.518a.486.486 0 0 0-.023-.004a.495.495 0 0 0-.012-.023L7.94.873A1.04 1.04 0 0 0 7 .277" clip-rule="evenodd" /></svg>
                        <span class="ms-1">
                            4.5
                        </span>
                    </div>
                    <div class="text-info">
                        @Html.DisplayFor(model => model.Table_Categories.CategoryName)
                    </div>
                </div>

                <div class="mb-3 text-danger">
                    <span class="h6">@Html.DisplayFor(model => model.ProductPrice) <small>تومان</small></span>
                    <span class="text-muted">/ تکی</span>
                </div>

                <p>
                    @Html.DisplayFor(model => model.ProductDescription)
                </p>

                <div class="row">
                    <dl>
                        <dt class="col-3">مدل:</dt>
                        <dd class="col-9">عادی</dd>

                        <dt class="col-3">رنگ</dt>
                        <dd class="col-9">قهوه ای</dd>

                        <dt class="col-3">جنس</dt>
                        <dd class="col-9">جین ، کتون</dd>

                        <dt class="col-3">برند</dt>
                        <dd class="col-9">Reebook</dd>

                        <dt class="col-3">موجودی</dt>
                        <dd class="col-9">@Model.ProductQuantity</dd>
                    </dl>
                </div>

                <hr />

                <div class="row mb-4">
                    <div class="col-md-4 col-6">
                        <label class="mb-2">سایز</label>
                        <select class="form-select border border-secondary" style="height: 35px;">
                            <option>کوچک</option>
                            <option>متوسط</option>
                            <option>بزرگ</option>
                            <option>خیلی بزرگ</option>
                        </select>
                    </div>
                    <!-- col.// -->

                    <div class="col-md-4 col-6 mb-3">
                        <label class="mb-2 d-block">تعداد</label>
                        <input type="number" name="quantity" id="quantity" value="1" min="1" max="@Model.ProductQuantity" class="form-control" />
                    </div>
                </div>


                @if (isLoggedIn)
                {
                    if (user.Table_Roles.RoleName == "Admin")

                    {
                        <a href="#myModal" class="btn trigger-btn  btn-danger mx-2 " data-bs-toggle="modal">حذف</a>
                        <!-- Modal HTML -->
                        <div id="myModal" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header flex-column">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <div class="icon-box">
                                            <i class="material-icons">
                                                <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z" /></svg>
                                            </i>
                                        </div>
                                        <h4 class="modal-title w-100"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>آیا از حذف محصول اطمینان دارید ؟ بعد از حذف محصول امکان بازیابی آن وجود ندارد</p>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
                                        @Html.ActionLink("حذف", "Delete", "Products", new { id = Model.ProductID }, new { @class = "btn btn-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.ActionLink("ویرایش", "Edit", "Products", new { id = Model.ProductID }, new { @class = "btn btn-warning mx-2" });
                    }
                    else
                    {
                        if (Model.ProductQuantity <= 0)
                        {
                            <button class="btn btn-danger p-2" disabled>ناموجود</button>
                        }
                        else
                        {
                            <a href="@Url.Action("AddToCart", "Cart", new { productId = Model.ProductID, quantity = "{0}" })" id="AddToCart" class="btn btn-success shadow-0 w-50 rounded-btn" onclick="addToCart()"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.418 3.25c.28-.59.884-1 1.582-1h4c.698 0 1.301.41 1.582 1c.683.006 1.216.037 1.692.223a3.25 3.25 0 0 1 1.426 1.09c.367.494.54 1.127.776 1.998l.037.136l.002.007l.874 3.324l.012-.017c.042.045.082.093.121.143c.901 1.154.472 2.87-.386 6.301c-.078.313-.15.603-.22.873l-2.477-2.973l1.83-2.685l-.505-1.922l-2.324 3.409L12.976 9h1.34c1.893 0 3.28 0 4.298.177l-.549-2.088c-.29-1.064-.393-1.395-.57-1.632a1.75 1.75 0 0 0-.767-.587c-.22-.086-.486-.111-1.148-.118A1.75 1.75 0 0 1 14 5.75h-4a1.75 1.75 0 0 1-1.58-.998c-.662.007-.928.032-1.148.118a1.75 1.75 0 0 0-.768.587c-.176.237-.279.568-.57 1.632l-.548 2.088C6.404 9 7.791 9 9.685 9h1.339L7.56 13.157L5.236 9.748L4.73 11.67l1.83 2.685l-2.477 2.973c-.07-.27-.142-.56-.22-.873c-.858-3.431-1.287-5.147-.386-6.301c.039-.05.08-.098.121-.143l.012.017l.874-3.324l.002-.007l.037-.136c.237-.871.41-1.505.776-1.999a3.25 3.25 0 0 1 1.426-1.089c.476-.186 1.008-.217 1.692-.222" /><path fill="currentColor" d="M4.602 19.05c.233.593.5 1.007.894 1.315C6.31 21 7.435 21 9.685 21h1.407L7.44 15.644zM12.908 21h1.407c2.25 0 3.375 0 4.189-.635c.394-.308.661-.722.894-1.316l-2.838-3.405zM12 19.669l-3.561-5.224L12 10.172l3.561 4.273z" /></svg> افزودن به سبد خرید </a>

                        }
                    }

                }
                else
                {
                    if (Model.ProductQuantity <= 0)
                    {
                        <button class="btn btn-danger p-2" disabled>ناموجود</button>
                    }
                    else
                    {
                        <a href="@Url.Action("AddToCart", "Cart", new { productId = Model.ProductID, quantity = "{0}" })" class="btn btn-success shadow-0 w-50 rounded-btn" onclick="addToCart()"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.418 3.25c.28-.59.884-1 1.582-1h4c.698 0 1.301.41 1.582 1c.683.006 1.216.037 1.692.223a3.25 3.25 0 0 1 1.426 1.09c.367.494.54 1.127.776 1.998l.037.136l.002.007l.874 3.324l.012-.017c.042.045.082.093.121.143c.901 1.154.472 2.87-.386 6.301c-.078.313-.15.603-.22.873l-2.477-2.973l1.83-2.685l-.505-1.922l-2.324 3.409L12.976 9h1.34c1.893 0 3.28 0 4.298.177l-.549-2.088c-.29-1.064-.393-1.395-.57-1.632a1.75 1.75 0 0 0-.767-.587c-.22-.086-.486-.111-1.148-.118A1.75 1.75 0 0 1 14 5.75h-4a1.75 1.75 0 0 1-1.58-.998c-.662.007-.928.032-1.148.118a1.75 1.75 0 0 0-.768.587c-.176.237-.279.568-.57 1.632l-.548 2.088C6.404 9 7.791 9 9.685 9h1.339L7.56 13.157L5.236 9.748L4.73 11.67l1.83 2.685l-2.477 2.973c-.07-.27-.142-.56-.22-.873c-.858-3.431-1.287-5.147-.386-6.301c.039-.05.08-.098.121-.143l.012.017l.874-3.324l.002-.007l.037-.136c.237-.871.41-1.505.776-1.999a3.25 3.25 0 0 1 1.426-1.089c.476-.186 1.008-.217 1.692-.222" /><path fill="currentColor" d="M4.602 19.05c.233.593.5 1.007.894 1.315C6.31 21 7.435 21 9.685 21h1.407L7.44 15.644zM12.908 21h1.407c2.25 0 3.375 0 4.189-.635c.394-.308.661-.722.894-1.316l-2.838-3.405zM12 19.669l-3.561-5.224L12 10.172l3.561 4.273z" /></svg> افزودن به سبد خرید </a>
                    }
                }
                <script>
                    function getQuantity() {
                        var quantity = document.getElementById("quantity").value;
                        return quantity;
                    }

                    function setQuantityAndNavigate(link) {
                        var quantity = getQuantity();
                        var url = decodeURIComponent(link.href);
                        link.href = url.replace("{0}", quantity);
                        window.location.href = link.href;
                    }

                    document.getElementById("AddToCart").addEventListener("click", function () {
                        setQuantityAndNavigate(this);
                    });
                </script>

            </div>
            
        </main>
    </div>
</div>