﻿@model IEnumerable<Pooshineh.Models.Table_Products>
@{
    ViewBag.Title = "Index";
    Pooshineh.Models.ClothingStoreEntities1 db = new Pooshineh.Models.ClothingStoreEntities1();
    var user = db.Table_User.Where(u => u.PhoneNumber == User.Identity.Name).SingleOrDefault();
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
}

<div class="text-center bg-warning py-5 fw-bolder rounded-1 text-white mt-5"><h3>لیست محصولات</h3></div>
<section style="background-color: #eee;">
    <div class="container py-4 my-5">
        @if (isLoggedIn)
        {
            if (user.RoleID == 1)
            {
                <p>
                    @Html.ActionLink("افزودن محصول جدید", "CreateProduct", null, new { @class = "btn btn-success my-3" })
                </p>
            }
        }
        else
        {
            <p>
                @Html.ActionLink("افزودن محصول جدید", "CreateProduct", null, new { @class = "btn btn-success my-3" })
            </p>
        }


        @foreach (var item in Model)
        {
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="~/Images/Products/@item.ProductImagePath"
                                             class="w-50" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 d-flex justify-content-around align-items-center">
                                    <div class="col">
                                        <h5 class="mb-2">@Html.DisplayFor(modelItem => item.ProductName)</h5>

                                        <div class="mt-1 mb-0 text-muted small">
                                            @Html.DisplayFor(modelItem => item.Table_Categories.CategoryName)
                                        </div>

                                        <p class="text-truncate mb-4 mb-md-0">
                                            @Html.DisplayFor(modelItem => item.ProductDescription)
                                        </p>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex flex-row align-items-center mb-1 justify-content-lg-center">
                                            <h6 class="mb-1 me-1 text-danger">@Html.DisplayFor(modelItem => item.ProductPrice) <small>تومان</small></h6>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start d-flex align-items-center justify-content-center">
                                    <div class="d-flex flex-column mt-4 align-items-center">
                                        <button class="btn btn-info btn-sm p-2" type="button">@Html.ActionLink("جزئیات محصول", "Details", new { id = item.ProductID }, new { @class = "text-white" })</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }
    </div>
</section>