﻿@model Pooshineh.Models.Table_Orders

@{
    ViewBag.Title = "Details";
    Pooshineh.Models.ClothingStoreEntities1 db = new Pooshineh.Models.ClothingStoreEntities1();
    var orderDetails = Model.Table_OrderDetails.Where(od => od.OrderID == Model.OrderID);

    var productsInOrder = db.Table_OrderDetails
    .Where(orderDetail => orderDetail.OrderID == Model.OrderID)
    .Join(db.Table_Products,
          orderDetail => orderDetail.ProductID,
          product => product.ProductID,
          (orderDetail, product) => product)
    .ToList();
    int trackingCost = 50000;
    int finalyCost = Model.TotalCost + trackingCost;
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order details</title>
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <style>

        /*---------- order details -----------*/

        .dorder .container-fluid {
            margin-top: 200px;
        }

        .dorder p {
            font-size: 14px;
            margin-bottom: 7px;
        }

        .dorder .small {
            letter-spacing: 0.5px !important;
        }

        .dorder .card-1 {
            box-shadow: 2px 2px 10px 0px #ffc107;
        }

        .dorder hr {
            background-color: rgba(248, 248, 248, 0.667);
        }


        .dorder .bold {
            font-weight: 500;
        }

        .dorder .change-color {
            color: #AB47BC !important;
        }

        .dorder .card-2 {
            box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);
        }

        .dorder .active-svg {
            font-size: 8px;
            color: #AB47BC;
        }

        .dorder .circle-svg {
            font-size: 8px;
            color: #aaa;
        }

        .dorder .rounded {
            border-radius: 2.25rem !important;
        }


        .dorder .progress-bar {
            background-color: #AB47BC !important;
        }


        .dorder .progress {
            height: 5px !important;
            margin-bottom: 0;
        }

        .dorder .invoice {
            position: relative;
            top: -70px;
        }

        .dorder .Glasses {
            position: relative;
            top: -12px !important;
        }

        .dorder .card-footer {
            background-color: #ffc107;
            color: #fff;
        }

        .dorder h2 {
            color: rgb(78, 0, 92);
            letter-spacing: 2px !important;
        }

        .dorder .display-3 {
            font-weight: 500 !important;
        }

        @@media(max-width: 479px){
            .dorder .invoice
            {
                position: relative;
                top: 7px;
            }
        }
        .dorder .border-line {
            border-right: 0px solid rgb(226, 206, 226) !important;
        }

        
        
        @@media(max-width: 700px) {
            .dorder h2 {
            
                color: rgb(78, 0, 92);
                font-size: 17px;
            }
        }

        .dorder .display-3 {
            font-size: 28px;
            font-weight: 500 !important;
        }

        

        .dorder .card-footer small {
            letter-spacing: 7px !important;
            font-size: 12px;
        }

        .dorder .border-line {
            border-right: 1px solid rgb(226, 206, 226)
        }

        /*---------- order details -----------*/
    </style>
</head>
<body dir="rtl">
    <div class="text-center bg-warning py-5 fw-bolder rounded-1 text-white my-5"><h3>جزئیات سفارش</h3></div>
    <hr />

    <div class="dorder">
        <div class="container my-5 d-flex justify-content-center">
            <div class="card card-1">
                <div class="card-header bg-white">
                    <div class="d-flex flex-sm-row flex-column-reverse justify-content-between">
                        <div class="col my-auto">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 448 512"> <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /></svg> از خرید شما متشکریم-<span class="change-color font-weight-bold">PUSHINEH</span></h6>
                        </div>
                        <div class="col-auto text-center my-auto pl-0 pt-sm-4">
                            <img class="img-fluid my-auto align-items-center mb-0 pt-3"
                                 src="/Images/logo1-removebg-preview.png" width="80" height="80">
                            <h6 class="mb-4 pt-0 Glasses fw-bolder">شیک بپوشید</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-between mb-3">
                        <div class="col-auto">
                            <h6 class="color-1 mb-0 change-color">فاکتور</h6>
                        </div>
                        <div class="col-auto">
                            <small> شناسه خرید : @Html.DisplayFor(model => model.OrderName)</small>
                        </div>
                    </div>
                    @foreach (var item in productsInOrder)
                    {
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card card-2">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="sq align-self-center">
                                                <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0 pe-3"
                                                     src="~/Images/Products/@item.ProductImagePath" width="135" height="135">
                                            </div>
                                            <div class="media-body my-auto text-right">
                                                <div class="row my-auto flex-column flex-md-row">
                                                    <div class="col my-auto">
                                                        <h6 class="mb-0"> @item.ProductName</h6>
                                                    </div>
                                                    <div class="col-auto my-auto">
                                                        <small>@item.ProductDescription </small>
                                                    </div>
                                                    <div class="col my-auto">
                                                        <small>سایز : متوسط</small>
                                                    </div>
                                                    <div class="col my-auto">
                                                        <small>تعداد : @Model.Table_OrderDetails.Where(od => od.ProductID == item.ProductID).FirstOrDefault().Quantity </small>
                                                    </div>
                                                    <div class="col my-auto">
                                                        <h6 class="mb-0">@item.ProductPrice <small>تومان</small></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3 ">
                                        <div class="row">
                                            <div class="col-md-3 mb-3">

                                                <small> وضعیت سفارش <span><svg class="ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m7 21l-5-5l5-5l1.425 1.4l-2.6 2.6H21v2H5.825l2.6 2.6zm10-8l-1.425-1.4l2.6-2.6H3V7h15.175l-2.6-2.6L17 3l5 5z" /></svg></span></small>
                                            </div>
                                            <div class="col mt-auto">
                                                <div class="progress my-auto">
                                                    <div class="progress-bar progress-bar rounded" style="width: 62%"
                                                         role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                                <div class="container">
                                                    <div class="row justify-content-between">
                                                        <div class="col-auto text-end">
                                                            <span> <small class="text-end me-sm-2">آماده سازی </small> <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22" /></svg> </span>
                                                        </div>
                                                        <div class="col-auto flex-col">
                                                            <span> <small class="text-end me-sm-2">در حال ارسال </small><svg class="active-svg" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22" /></svg></span>
                                                        </div>
                                                        <div class="col-auto flex-col-auto">
                                                            <small class="text-end me-sm-2">تحویل</small><span> <svg class="circle-svg" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22" /></svg></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row mt-4">
                        <div class="col">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <p class="mb-1 text-dark"><b>جزئیات سفارش</b></p>
                                </div>
                                <div class="flex-sm-col text-end col">
                                    <p class="mb-1"><b>هزینه</b></p>
                                </div>
                                <div class="flex-sm-col col-auto">
                                    <p class="mb-1"><small>تومان</small> @Model.TotalCost</p>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="flex-sm-col text-end col">
                                    <p class="mb-1"> <b>تخفیف</b></p>
                                </div>
                                <div class="flex-sm-col col-auto">
                                    <p class="mb-1"><small>تومان</small> 80000</p>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="flex-sm-col text-end col">
                                    <p class="mb-1"><b> مالیات (18%)</b></p>
                                </div>
                                <div class="flex-sm-col col-auto">
                                    <p class="mb-1"><small>تومان</small> 120000</p>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="flex-sm-col text-end col">
                                    <p class="mb-1"><b>هزینه ارسال</b></p>
                                </div>
                                <div class="flex-sm-col col-auto">
                                    <p class="mb-1"><small>تومان</small> @trackingCost</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row invoice ">
                        <div class="col">
                            <p class="mb-1"> شماره فاکتور : 788152</p>
                            <p class="mb-1">تاریخ فاکتور : @Html.DisplayFor(model => model.OrderDate)</p>
                            <p class="mb-1">کوپن رسید : 18KU-62IIK</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="jumbotron-fluid">
                        <div class="row justify-content-between ">
                            <div class="col-sm-auto col-auto my-auto">
                                <img class="img-fluid my-auto align-self-center" src="~/Images/logo-removebg-preview.png"
                                     width="115" height="115">
                            </div>
                            <div class="col-auto my-auto ">
                                <h2 class="mb-0 ">هزینه پرداختی</h2>
                            </div>
                            <div class="col-auto my-auto ml-auto">
                                <h6 class="display-3">@finalyCost <small class="text-danger">تومان</small></h6>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mt-md-0">
                            <div class="col-auto border-line">
                                <small class="text-dark">ارسال بین 5 تا 7 روز کاری</small>
                            </div>
                            <div class="col-auto border-line">
                                <small class="text-dark">بسته بندی شیک و مناسب</small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>