@model IEnumerable<Pooshineh.Models.Table_CartItem>

@{
    ViewBag.Title = "Index";
    Pooshineh.Models.ClothingStoreEntities1 db = new Pooshineh.Models.ClothingStoreEntities1();
    var user = db.Table_User.Where(u => u.PhoneNumber == User.Identity.Name).FirstOrDefault();
    var cart = db.Table_Cart
        .Where(o => o.UserID == user.ID)
        .FirstOrDefault();
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Total cost: @cart.TotalCost
        </th>
        <th>
            @Html.ActionLink("Delete", "Delete", "Products", null, new { @class = "btn btn-danger" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>


        </tr>
    }

</table>
@using (Html.BeginForm("CreateProduct", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    if (user.Address == null)
    {
        <div class="form-group">
            <input type="text"
                   class="form-control" required style="width: 400px; height: 100px">
        </div>
    }
    else
    {
        <div>
            <input type="text"
                   class="form-control" placeholder="@user.Address" style="width: 400px; height: 100px; max-width: 390px; max-height:90px;">
        </div>
    }


}
@if (TempData["DiscountSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["DiscountSuccess"]
    </div>
}

@if (TempData["DiscountError"] != null)
{
    <div class="alert alert-danger">
        @TempData["DiscountError"]
    </div>
}

@if (TempData["DiscountUsed"] != null)
{
    <div class="alert alert-danger">
        @TempData["DiscountUsed"]
    </div>
}

<div id="discountResult"></div>
@Html.Partial("_DiscountCodePartial", new Pooshineh.Models.DiscountViewModel())
@Html.ActionLink("ثبت نهایی سفارش", "ConfirmOrder", "Orders", cart, new { @class = "btn btn-warning" })
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
