﻿@model IEnumerable<Pooshineh.Models.Table_CartItem>

@{
    ViewBag.Title = "Index";
    Pooshineh.Models.ClothingStoreEntities1 db = new Pooshineh.Models.ClothingStoreEntities1();
    var user = db.Table_User.Where(u => u.PhoneNumber == User.Identity.Name).FirstOrDefault();
    var cart = db.Table_Cart
        .Where(o => o.UserID == user.ID)
        .FirstOrDefault();
    int trackingCost = 50000;
    int finalyCost = cart.TotalCost + trackingCost;
}

<div class="w-25 text-center mx-auto my-5">
    <h3 class="bg-secondary text-white py-3 rounded-2">پرداخت نهایی</h3>
</div>

<table class="table">

    <tr>
        <th>نام محصول</th>
        <th>تعداد</th>
        <th>قیمت محصول</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Table_Products.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        @if (cart.TotalCost > 0)
        {
            <th>قیمت کل: <span class="text-danger">@finalyCost</span> <small>تومان</small></th>
        }
        else
        {
            <th></th>
        }
    </tr>

</table>



@if (TempData["DiscountSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["DiscountSuccess"]
    </div>
}

@if (TempData["DiscountError"] != null)
{
    <div class="alert alert-danger">
        @TempData["DiscountError"]
    </div>
}

@if (TempData["DiscountUsed"] != null)
{
    <div class="alert alert-danger">
        @TempData["DiscountUsed"]
    </div>
}

<div id="discountResult"></div>
<div class="row">
    <div class="col">
        @Html.Partial("_DiscountCodePartial", new Pooshineh.Models.DiscountViewModel())

        @if (TempData["AddressError"] != null)
        {
            <div class="alert alert-danger">
                @TempData["AddressError"]
            </div>
        }
    </div>


    @using (Html.BeginForm("ConfirmOrder", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col">
            <label for="address" class="form-label">آدرس پستی</label>
            @if (user.Address == null)
            {
                <div class="form-group my-3 my-lg-0">
                    <input type="text"
                           class="form-control" placeholder="آدرس خود را وارد کنید" name="address" id="address" style="width: 400px; height: 120px">
                </div>
            }
            else
            {
                <div>
                    <input type="text"
                           class="form-control my-3 my-lg-0" placeholder="@user.Address" name="address" id="address" style="width: 400px; height: 120px; max-width: 390px; max-height:150px;">
                </div>
            }
        </div>
        <div class="form-group text-center text-lg-start mt-4 mt-lg-3">
            <input type="submit" value="ثبت نهایی سفارش" class="btn btn-warning px-5 py-3 text-white fw-bold" />
        </div>

    }


</div>





<script src="~/Scripts/jquery-3.4.1.min.js"></script>