@model IEnumerable<Pooshineh.Models.Table_Orders>
@{
    Pooshineh.Models.ClothingStoreEntities1 db = new Pooshineh.Models.ClothingStoreEntities1();
    var users = db.Table_User;
    var user = db.Table_User.Where(u => u.PhoneNumber == User.Identity.Name).FirstOrDefault();
    string name;
}



@*<div class="alert alert-success mt-5" id="error">
    @TempData["StatusEditSuccess"]
</div>*@

    @if (TempData["StatusEditFailed"] != null)
    {
<div class="alert alert-danger mt-5">
    @TempData["StatusEditFailed"]
</div>
    }
<table class="table mt-3" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OrderAddress)
        </th>
        <th>
            نام مشتری
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderAddress)
            </td>
            <td>
                @users.Where(u => u.ID == item.Table_Cart.UserID).FirstOrDefault().Name @users.Where(u => u.ID == item.Table_Cart.UserID).FirstOrDefault().LastName
            </td>
            <td>
                @{ 
                    name  = @item.OrderName; 
                }
                <select class="form-select border border-secondary my-1" onchange="ChangeStatus(@item.OrderID, this)" style="height: 35px;">
                    <option hidden>@item.OrderStatus</option>
                    @foreach (var option in GetOrderStatusList())
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                    
                </select>
                <br />
            </td>
            <td>
                @Html.ActionLink("جزئیات", "Details", new { id = item.OrderID }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }


</table>
@functions{
    private SelectList GetOrderStatusList()
    {
        var orderStatusList = new List<SelectListItem>
{
            new SelectListItem { Value = "در حال بررسی", Text = "در حال بررسی" },
            new SelectListItem { Value = "در حال ارسال", Text = "در حال ارسال" },
            new SelectListItem { Value = "تحویل داده شده", Text = "تحویل داده شده" }
        };

        return new SelectList(orderStatusList, "Value", "Text");
    }
}
<script>
    function ChangeStatus(orderId, status) {
        var orderStatus = status.value;
        $.ajax({
            url: "/Orders/UpdateOrder",
            type: "POST",
            data: { orderId: orderId, status: orderStatus },
            success: function (data) {

            },
            error: function (error) {
            }
        });
    };
</script>

