@model IEnumerable<Pooshineh.Models.Table_Orders>

@{
    ViewBag.Title = "ViewActiveOrders";
}

<h2>ViewActiveOrders</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(o => o.OrderID))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate, "{dddd, dd MMMM yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id=item.OrderID}, new { @class="btn btn-warning"})
            </td>
        </tr>
    }

</table>
